.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;

  @media (max-width: 1770px) {
    margin-bottom: 100px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 50px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .hero-section__picture {
    border-bottom-right-radius: 50px;
    overflow: hidden;
    @media (max-width: 768px) {
      border-radius: unset;
    }

    .hero-section__picture--image {
      object-fit: cover;
    }
  }

  .hero-section__content {
    display: flex;
    align-items: center;
    padding: 0 50px;

    @media (max-width: 1770px) {
      padding: 0 40px;
    }
    @media (max-width: 768px) {
      padding: 0 16px;
    }

    .hero-section__content--container {
      max-width: 759px;

      @media (max-width: 1770px) {
        max-width: 610px;
      }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    .content-subtitle {
      width: fit-content;
      font-size: 28px;
      font-weight: 600;
      color: var(--clr-green-dark-15);
      border-bottom: 3px solid var(--clr-green-70);
      margin-bottom: 24px;

      @media (max-width: 1770px) {
        font-size: 22px;
        margin-bottom: 10px;
      }
      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }

    .content-title {
      font-size: 58px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 20px;
      color: var(--clr-green-dark-15);

      @media (max-width: 1770px) {
        font-size: 48px;
        margin-bottom: 16px;
      }
      @media (max-width: 1024px) {
        font-size: 38px;
      }
    }

    .content-description {
      font-weight: 500;
      margin-bottom: 50px;

      @media (max-width: 1770px) {
        margin-bottom: 40px;
      }
      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }
    }

    .content-actions {
      display: flex;
      gap: 20px;
      margin-bottom: 70px;

      @media (max-width: 1770px) {
        margin-bottom: 50px;
      }
      @media (max-width: 768px) {
        gap: 14px;
        margin-bottom: 0px;
      }

      .content-actions--item {
        min-height: 59px;
        @media (max-width: 1770px) {
          font-size: 14px;
          min-height: 49px;
        }
      }
    }

    .content-tags {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: 1770px) {
        gap: 6px;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 4px;
        order: -1;
        margin-top: -30px;
        margin-bottom: 30px;
      }

      .avatar-group {
        @media (max-width: 768px) {
          background-color: var(--clr-green-97);
        }
      }

      .content-tags--label {
        font-size: 20px;
        font-weight: 600;
        color: var(--clr-green-dark-20);

        @media (max-width: 1770px) {
          font-size: 18px;
        }
        @media (max-width: 1024px) {
          font-size: 16px;
        }

        span {
          font-weight: 700;
          color: var(--clr-green-dark-35);
        }
      }
    }
  }
}

.features-section {
  margin-bottom: 150px;

  @media (max-width: 1770px) {
    margin-bottom: 100px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 50px;
  }

  .features-section__heading {
    margin-bottom: 80px;
    @media (max-width: 1770px) {
      margin-bottom: 60px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }
  }

  .features-section__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 30px;
    @media (max-width: 1770px) {
      gap: 20px;
    }
    @media (max-width: 650px) {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .features-section__cards--item {
      @media (max-width: 768px) {
        position: sticky;
        top: 20px;
      }
    }
  }
}

.blogs-section {
  margin-bottom: 150px;

  @media (max-width: 1770px) {
    margin-bottom: 100px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 50px;
  }

  .blogs-section__heading {
    margin-bottom: 80px;
    @media (max-width: 1770px) {
      margin-bottom: 60px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }
  }

  .blogs-section__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 30px;

    @media (max-width: 1770px) {
      gap: 20px;
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  }
}

.feedback-section {
  margin-bottom: 150px;

  @media (max-width: 1770px) {
    margin-bottom: 100px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 50px;
  }

  .feedback-section__heading {
    margin-bottom: 80px;
    @media (max-width: 1770px) {
      margin-bottom: 60px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }
  }

  .feedback-section__cards {
    .feedback-section__cards--content {
      display: flex;
      align-items: center;
      gap: 20px;
      overflow-x: auto;
      margin-bottom: 50px;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;

      @media (max-width: 1770px) {
        margin-bottom: 40px;
      }
      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }
    }

    .feedback-section__cards--item {
      min-width: 32%;
      border: 1px solid var(--clr-green-90);
      border-radius: 12px;
      background-color: var(--clr-green-97);
      scroll-snap-align: start;

      @media (max-width: 700px) {
        min-width: 100%;
      }

      .item-content {
        padding: 40px;
        @media (max-width: 1770px) {
          padding: 30px;
        }
        @media (max-width: 1024px) {
          padding: 24px;
        }

        .item-content--icon {
          color: var(--clr-green-dark-30);
          margin-bottom: 50px;
          @media (max-width: 1770px) {
            width: 34px;
            height: 34px;
            margin-bottom: 40px;
          }
        }

        .item-comment {
          font-weight: 500;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 4;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }

      .item-footer {
        background-color: var(--clr-green-95);
        border-top: 1px solid var(--clr-green-90);
        padding: 30px 40px;
        @media (max-width: 1770px) {
          padding: 20px 30px;
        }
        @media (max-width: 1024px) {
          padding: 18px 24px;
        }
      }

      .item-author {
        display: flex;
        align-items: center;
        gap: 12px;
        @media (max-width: 1770px) {
          gap: 10px;
        }

        .item-author--avatar {
          border-radius: 8px;
          @media (max-width: 1770px) {
            width: 50px;
            height: 50px;
            border-radius: 6px;
          }
          @media (max-width: 1024px) {
            width: 40px;
            height: 40px;
          }
        }
        .item-author--name {
          font-weight: 600;
          color: var(--clr-green-dark-15);
          @media (max-width: 1024px) {
            font-size: 16px;
          }
        }
      }
    }

    .feedback-section__cards--pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      @media (max-width: 1770px) {
        gap: 20px;
      }

      .pagination-control {
        width: 58px;
        height: 58px;
        border-radius: 8px;
        padding: 8px;
        @media (max-width: 1770px) {
          width: 48px;
          height: 48px;
        }

        .pagination-control--icon {
          width: 34px;
          height: 34px;
          color: var(--clr-grey-20);
          @media (max-width: 1770px) {
            width: 28px;
            height: 28px;
          }
        }
      }

      .pagination-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        .pagination-list--item {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: var(--clr-green-85);
          cursor: pointer;

          &.active {
            background-color: var(--clr-green-dark-30);
          }
        }
      }
    }
  }
}

.prices-section {
  margin-bottom: 150px;

  @media (max-width: 1770px) {
    margin-bottom: 100px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 50px;
  }

  .prices-section__heading {
    margin-bottom: 80px;
    @media (max-width: 1770px) {
      margin-bottom: 60px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }
  }

  .prices-section__content {
    .prices-section__content--toggle {
      margin: 0 auto 14px;
      @media (max-width: 1024px) {
        margin-bottom: 10px;
      }
    }

    .prices-section__content--offer-text {
      display: block;
      color: var(--clr-grey-30);
      font-weight: 500;
      text-align: center;
      margin-bottom: 50px;
      @media (max-width: 1770px) {
        margin-bottom: 40px;
      }
      @media (max-width: 1024px) {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }

    .prices-section__content--cards {
      display: flex;
      align-items: center;
      gap: 30px;
      @media (max-width: 1770px) {
        gap: 20px;
      }
      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      .cards-item {
        flex-basis: 100%;
        border: 1px solid var(--clr-green-90);
        border-radius: 12px;
        background-color: var(--clr-green-95);
        padding: 50px;
        @media (max-width: 1770px) {
          padding: 40px;
        }
        @media (max-width: 1024px) {
          padding: 30px;
        }

        .cards-item__header {
          margin-bottom: 40px;
          @media (max-width: 1770px) {
            margin-bottom: 30px;
          }
          @media (max-width: 1024px) {
            margin-bottom: 24px;
          }

          .cards-item__header--title {
            font-size: 30px;
            font-weight: 600;
            color: var(--clr-grey-15);
            @media (max-width: 1770px) {
              font-size: 24px;
            }
            @media (max-width: 1024px) {
              font-size: 22px;
            }
          }
          .cards-item__header--tagline {
            font-weight: 500;
            color: var(--clr-grey-30);
          }
        }

        .cards-item__content {
          margin-bottom: 40px;
          @media (max-width: 1770px) {
            margin-bottom: 30px;
          }
          @media (max-width: 1024px) {
            margin-bottom: 24px;
          }

          .cards-item__content--description {
            font-weight: 500;
            color: var(--clr-grey-30);
          }
        }

        .cards-item__price {
          display: flex;
          align-items: center;
          margin-bottom: 33px;
          @media (max-width: 1770px) {
            margin-bottom: 24px;
          }

          .cards-item__price--amount {
            font-size: 50px;
            font-weight: 700;
            line-height: 1;
            color: var(--clr-green-dark-25);
            @media (max-width: 1770px) {
              font-size: 40px;
            }
            .monthly {
              display: none;
              :has([value="monthly"]:checked) & {
                display: inline;
              }
            }
            .yearly {
              display: none;
              :has([value="yearly"]:checked) & {
                display: inline;
              }
            }
          }
          .cards-item__price--period {
            font-weight: 500;

            .monthly {
              display: none;
              :has([value="monthly"]:checked) & {
                display: inline;
              }
            }
            .yearly {
              display: none;
              :has([value="yearly"]:checked) & {
                display: inline;
              }
            }
          }
        }

        .cards-item__footer {
          .cards-item__footer--action {
            width: 100%;
            font-weight: 600;
          }
        }
      }
    }
  }
}
