.app-container-lg {
  max-width: 1920px;
  margin: 0 auto;
}

.app-container {
  max-width: 1636px;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width: 1770px) {
    max-width: 1320px;
  }
  @media (max-width: 1024px) {
    padding: 0 16px;
  }
}

.text-center {
  text-align: center;
}

.d-contents {
  display: contents;
}

.app-section-title {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-grey-15);
  @media (max-width: 1770px) {
    font-size: 38px;
  }
  @media (max-width: 1024px) {
    font-size: 28px;
  }

  &:has(+ .app-section-description) {
    margin-bottom: 10px;
    @media (max-width: 1770px) {
      margin-bottom: 6px;
    }
  }
}
.app-section-description {
  max-width: 780px;
  font-weight: 500;
  margin: auto;
}
